@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(kendi\ yerim.png);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);
}

.navbar .sedatk {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .sedatk a {
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: #ff6e00;
    border-radius: 2px;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: black;
    font-size: 60px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: rgb(207, 96, 88);
    border: solid 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

.buttons button:hover {
    background: #fff;
}
